@import url('https://fonts.googleapis.com/css?family=Playfair+Display&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

* {
	margin: 0;
	padding: 0
}
body {
	background-color: yellow
}

ul {
	list-style: none;
	text-align: center;
	font-family: Playfair Display, sans-serif;
}

li {
	display: inline;
	color: brown;
}

li:hover {
	background: white
}

div {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 470px;
	padding: 30px;
	border: 5px ridge;
	background: white;
}

div img {
	width: 100%;
}
