@import url('https://fonts.googleapis.com/css?family=Playfair+Display&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

* {
	margin: 0;
	padding: 0
}
body {
	background-color: yellow
}

ul {
	list-style: none;
	text-align: center;
	font-family: Playfair Display, sans-serif;
}

li {
	display: inline;
	color: brown;
}

li:hover {
	background: white
}

div {
	/* margin-top: 30px; */
	margin:30px auto;
	/* margin-bottom: auto; */
	/* margin-left: auto; */
	/* margin-right: auto; */
	width: 960px;
	border: 5px ridge;
	background: white;
	display: flex;
}

div.first {
	width: 440px;
	padding: 10px;
	border: 0;
	display: inline-block;
}

div.first img{
	width: 440px;
	height: 388px;
}

div.second {
	width: 440px;
	padding: 10px;
	border: 0;
	display: inline-block;
}

div.second img{
	width: 440px;
	height: 388px;
}
