body {
	background-image: url(../img/bg-moscow-city.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

table {
	border: solid 2px;
	padding: 10px 10px 10px 10px;
	width: 1000px;
	text-align: center;
	margin: 40px auto 0 auto;
}

caption {
	font-size: 20px;
}

th {
	border: solid 1px;
	background-color: #33ffcc;
}

td {
	border: solid 1px;
	background-color: #ffff00;
}

.maps {
	background-color: #ffffff;
} 